@charset "utf-8";
@import "./../../node_modules/bulma/bulma.sass";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pattaya&display=swap');

// Set your brand colors
$rose: #E0AA98;
$liver: #503329;
$beige: #BAA36B;
$green: #77A26B;
$mustard: #E6B946;
$orange: #EA822D;
$teal: #99AD93;

html {
    background-color: $beige;
}
.deco-line-orange{
    height:2em;
    background-color: $orange;
    margin-top: -25px;
    margin-bottom: -10px;
     
}
header{
    padding-bottom: -10em;
    margin-bottom: -10em;
    background-color: $mustard;
   
}

.header{
    justify-content: flex-start;
    
    .title{
        align-self: flex-end;
        padding-bottom: 1em;
        padding-left: .5em;
        font-family: pattaya;
        font-weight: 250;
        font-size: 38pt;;
        color: $liver;
    }
    img{
        padding: 1em;
    }
}
.deco-line{
    height:2em;
    background-color: $rose;
    padding-top: -10px;
    margin-top: -25px;
}
.navbar{
    background-color: $teal;
    font-family: montserrat;
    color: $liver;
    margin-top: -25px;
}